<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style-admin.css">
</head>

<body>

    <!-- NOTE: felső fix sav -->
    <div class="container-fluid">
        <!-- NOTE: felső sav -->
        <nav class="fixed-top navbar navbar-expand-sm bg-light navbar-dark d-flex justify-content-around">
            <div>
                <form action="/">
                    <button type="submit" class="btn btn-danger ">Alapanyagok</button>
                </form>
            </div>
            <div>
                <!-- <form action="/termekek" method="get"> -->
                <form action="/termekek-adatlap" method="get">
                    <button type="submit" class="btn btn-info ">Termék adatok
                    </button>
                </form>
            </div>
            <div>
                <!-- <form action="/xkimeresnev" method="get">

                    <button class="btn btn-warning " id="btnxkimeresnev">Kimérhető
                        mennyiségek (2) ok </button>
                </form> -->
            </div>
            <div>
                <!-- <form action="/kiszereles" method="get">
                    <button type="submit" class="btn btn-secondary">Kiszerelés felvitele (opcionális) ok </button>
                </form> -->
            </div>

            <div>
                <!-- <form action="/csoportok" method="get">
                    <button type="submit" class="btn btn-danger">Termékcsoportok (1) ok </button>
                </form> -->
            </div>

            <div>
                <form action="/forgalom" method="get">
                    <button type="submit" class="btn btn-info ">Forgalom</button>
                </form>
            </div>

            <div>
                <!-- <form action="/" method="get">
                    <button type="submit" style="background-color:deeppink ">other
                        🤔 </button>
                </form> -->
            </div>
            <div>
                <form action="/pultosokadmin" method="get">
                    <button type="submit" class="btn btn-dark ">Pultos admin</button>
                </form>
            </div>
        </nav>
        <br><br><br><br>
        <div id="adatok"></div>
    </div>

    <!-- NOTE: valid product area -->
    <div class="container-fluid text-center">
        <div>

            <form class="form-horizontal" action="/insertalapanyagok" method="post">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Neve</th>
                                <th>Mértékegység</th>
                                <th>Kiszerelés</th>
                                <th>Gyüjtő</th>
                                <th>Leltározandó</th>
                                <th>Kritikus mennyiség</th>
                                <th>Beszerzési ár</th>
                            </tr>
                        </thead>
                        <tbody id="alapanyagok">
                            <tr>
                                <td>134
                                </td>
                                <td><input type="text" id="nev" name="nev" placeholder="Alapanyag neve" required
                                        class="form-control form-control-sm"></td>
                                <td>john@example.com</td>
                                <td><input type="number" id="urtartalom" name="urtartalom" maxlength="11" size="11"
                                        required class="form-control form-control-sm">
                                </td>
                                <td><input type="number" id="gyujto" name="gyujto" maxlength="11" size="11"
                                        class="form-control form-control-sm"></td>
                                <td>Leltározandó</td>
                                <td><input type="number" id="kritikus" name="kritikus" maxlength="11" size="11"
                                        class="form-control form-control-sm"></td>
                                <td>
                                    <input type="number" id="beszar" name="beszar" maxlength="11" size="11" required
                                        class="form-control form-control-sm">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="btn btn-primary  mr-4">Uj alapanyeg felvitele</button>
            </form><br>
        </div>
        <!-- FIXME:FIXME:FIXME:FIXME:FIXME: -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Neve</th>
                    <th>Mértékegység</th>
                    <th>Kiszerelés</th>
                    <th>Gyüjtő</th>
                    <th>Leltározandó</th>
                    <th>Kritikus mennyiség</th>
                    <th>Beszerzési ár</th>
                </tr>
            </thead>
            <tbody id="alapanyagok">
            </tbody>
        </table>
        <div id="adatok"></div>
        <!-- FIXME:FIXME:FIXME:FIXME:FIXME: -->
    </div>

    <script src="jquery.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <script src="alapanyagok.js"></script>
</body>

</html>